<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Owners Index'">Index page</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.springframework.spring5petclinic.model.Owner"*/-->
<h1 th:text="'Owners Index Page'">Index page</h1>
<h2 th:text="'List of Owners'">List of Owners</h2>

<table>
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner: ${owners}">
        <td th:text="${owner.id}" style="width: 150px;"></td>
        <td th:text="${owner.firstName}" style="width: 150px;"></td>
        <td th:text="${owner.lastName}" style="width: 150px;"></td>
    </tr>
    </tbody>
</table>

</body>
</html>